*{
    margin: 0px;
    padding: 0px;
}
.choices{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}


    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
      .choice {
        height: 165px;
        width: 165px;
        border-radius: 50%;
       
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
